{% extends "base.html" %}

{% block addl_head %}



{% endblock %}

{% block content %}
{% load timedelta_filter %}
{% if daily_tasks_list or still_due_tasks_list or overdue_tasks_list %}
<div class="row justify-content-center">
<div id="daily_div" class="col-xs-8 justify-content-center">
    {% if daily_tasks_list %}
    <div class="list-group text-center">
    <h2>tasks for today</h2>

        {% for task in daily_tasks_list %}
            <form method="POST" action="{% url 'tracktasks:mark complete' %}" >
                        {% csrf_token %}
            <input type="hidden" value="{{ task.id }}" name="selected_task">

            <button type="button submit" class="list-group-item class_entry" name=
            {% if task.is_timed %}
                {% if task.start_time is None %}
                    "start_timer" id="start{{ task.id }}"
                {% elif task.start_time is not None %}
                    "stop_timer" id="stop{{ task.id }}"
                {% endif %}
            {% else %}
                "completed" id="completed{{ task.id }}"
            {% endif %}
            >
                <span class="task_name">{{ task.name }}</span> <br>

                {% if task.is_timed %}
                    <span id="task_action">
                    {% if task.start_time is None %}
                            Start
                     {% elif task.start_time is not None %}
                            Stop
                    {% endif %}
                </span>
                    <br>
                    remaining time: <span id="time{{ task.id }}">{{ task.remaining_time|format_timedelta }}</span>

                {% else %}
                    <span id="task_action">Complete task</span>
                {% endif %}
            </button>
        </form>
        {% endfor %}

    {% endif %}
</div>
</div>
<div id="still_due_div" class="col-xs-8 justify-content-center">
    {% if still_due_tasks_list %}
    <h3>tasks due later</h3>

        {% for task in still_due_tasks_list %}
            <form method="POST" action="{% url 'tracktasks:mark complete' %}">
                        {% csrf_token %}
            <input type="hidden" value="{{ task.id }}" name="selected_task">
            <button type="button submit" class="list-group-item class_entry" name=
            {% if task.is_timed %}
                {% if task.start_time is None %}
                    "start_timer" id="start{{ task.id }}"
                {% elif task.start_time is not None %}
                    "stop_timer" id="stop{{ task.id }}"
                {% endif %}
            {% else %}
                "completed" id="completed{{ task.id }}"
            {% endif %}
            >
                <span class="task_name">{{ task.name }}</span> <br>

                due: {{ task.date|date:"SHORT_DATE_FORMAT"}} <br>


                {% if task.is_timed %}
                    <span id="task_action">
                    {% if task.start_time is None %}
                            Start
                     {% elif task.start_time is not None %}
                            Stop
                    {% endif %}
                </span>
                    <br>
                    remaining time: <span id="time{{ task.id }}">{{ task.remaining_time|format_timedelta }}</span>

                {% else %}
                    <span id="task_action">Complete task</span>
                {% endif %}
            </button>
        </form>
        {% endfor %}

    {% endif %}
</div>
<div id="overdue_div" class="col-xs-8 justify-content-center">
    {% if overdue_tasks_list %}
    <h3>overdue tasks</h3>
    {% for task in overdue_tasks_list %}
        <form method="POST" action="{% url 'tracktasks:mark complete' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ task.id }}" name="selected_task">
                    <button type="button submit" class="list-group-item class_entry" name=
                    {% if task.is_timed %}
                        {% if task.start_time is None %}
                            "start_timer" id="start{{ task.id }}"
                        {% elif task.start_time is not None %}
                            "stop_timer" id="stop{{ task.id }}"
                        {% endif %}
                    {% else %}
                        "completed" id="completed{{ task.id }}"
                    {% endif %}
                    >
                        <span class="task_name">{{ task.name }}</span> <br>
        was due: {{ task.date|date:"SHORT_DATE_FORMAT" }} <br>

        {% if task.is_timed %}
            <span id="task_action">
            {% if task.start_time is None %}
                    Start
             {% elif task.start_time is not None %}
                    Stop
            {% endif %}
        </span>
            <br>
            remaining time: <span id="time{{ task.id }}">{{ task.remaining_time|format_timedelta }}</span>

        {% else %}
            <span id="task_action">Complete task</span>
        {% endif %}
    </button>
</form>
    {% endfor %}
    {% endif %}
</div>

{% else %}
    <p>There are no remaining tasks for today!</p>
{% endif %}
<br />
<div id=completed_div class="col-xs-8 justify-content-center">
    <div class="list-group text-center">
{% if completed_tasks_list %}
    <h3>completed tasks</h3>
    <ul id="completed_tasks">
        {% for task in completed_tasks_list %}
            <li class="list-group-item">{{  task.name  }}</li>
        {% endfor %}
{% endif %}
</div>
</div>
</div>
{% endblock %}
{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static "tracktasks/countdowntimer.js" %}" ></script>

<script type="text/javascript" src="{% static "tracktasks/countdowntimedtask.js" %}"></script>
{% endblock %}
