{% extends "base.html" %}

{% block addl_head %}



{% endblock %}

{% block content %}
{% load timedelta_filter %}
{% if daily_tasks_list or still_due_tasks_list or overdue_tasks_list %}

    {% if daily_tasks_list %}
    <h2>tasks for today</h2>
    <!-- <form method="POST" action="marktaskcomplete/">
        {% csrf_token %} -->

    <ul>
        {% for task in daily_tasks_list %}

            <form method="POST" action="{% url 'tracktasks:mark complete' %}">
                        {% csrf_token %}
            <li>{{ task.name }}
            <input type="hidden" value="{{ task.id }}" name="selected_task">

                {% if task.is_timed %}
                 remaining time: <span id="time{{ task.id }}">{{ task.remaining_time|format_timedelta }}</span>
                    {% if task.start_time is None %}
                        <button type="submit" name="start_timer" id="start{{ task.id }}">Start activity</button>
                     {% elif task.start_time is not None %}
                        <button type="submit" name="stop_timer" id="stop{{ task.id }}">Stop activity</button>
                    {% endif %}

                {% else %}
                    <button type="submit" name="completed">completed</button>
                {% endif %}
            </li>
        </form>
        {% endfor %}
    </ul>
    {% endif %}

    {% if still_due_tasks_list %}
    <h3>tasks due later</h3>
    <ul>
        {% for task in still_due_tasks_list %}
            <form method="POST" action="{% url 'tracktasks:mark complete' %}">
                        {% csrf_token %}
            <li>{{ task.name }} is due by {{ task.date|date:"l" }} the {{ task.date|date:"jS" }} of {{ task.date|date:"N" }}
            <input type="hidden" value="{{ task.id }}" name="selected_task">

                {% if task.is_timed %}
                 remaining time: {{ task.remaining_time|format_timedelta }}
                    {% if task.start_time is None %}
                        <button type="submit" name="start_timer">Start activity</button>
                     {% elif task.start_time is not None %}
                        <button type="submit" name="stop_timer">Stop activity</button>
                    {% endif %}

                {% else %}
                    <button type="submit" name="completed">completed</button>
                {% endif %}
            </li>
        </form>
        {% endfor %}
    </ul>
    {% endif %}

    {% if overdue_tasks_list %}
    <h3>Overdue tasks</h3>
    <ul>
    {% for task in overdue_tasks_list %}
        <form method="POST" action="{% url 'tracktasks:mark complete' %}">
                    {% csrf_token %}
        <li>{{ task.name }} was due on {{ task.date|date:"l" }} the {{ task.date|date:"jS" }} of {{ task.date|date:"N" }}
        <input type="hidden" value="{{ task.id }}" name="selected_task">

            {% if task.is_timed %}
             remaining time: {{ task.remaining_time|format_timedelta }}
                {% if task.start_time is None %}
                    <button type="submit" name="start_timer">Start activity</button>
                 {% elif task.start_time is not None %}
                    <button type="submit" name="stop_timer">Stop activity</button>
                {% endif %}

            {% else %}
                <button type="submit" name="completed">completed</button>
            {% endif %}
        </li>
    </form>
    {% endfor %}
    </ul>
    {% endif %}

{% else %}
    <p>There are no remaining tasks for today!</p>
{% endif %}
<br />
{% if completed_tasks_list %}
    <h2>completed tasks</h2>
    <ul>
        {% for task in completed_tasks_list %}
            <li>{{  task.name  }}</li>
        {% endfor %}
{% endif %}

{% endblock %}
{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static "tracktasks/countdowntimer.js" %}" ></script>

<script type="text/javascript" src="{% static "tracktasks/countdowntimedtask.js" %}"></script>
{% endblock %}
