<!--  look into ifchanged in django templates to
      add a date and separate by date-->

{% extends "base.html" %}

{% block addl_head %}
{% endblock %}

{% block content %}
{% load timedelta_filter %}
{% if user_tasks %}
<div class="row justify-content-center">
    <div id="user_tasks_div" class="col-xs-8 justify-content-center">

        <div class="list-group">
        <h2>manage tasks</h2>
            {% for task in user_tasks %}

            <form method="POST" action="{% url 'tracktasks:modify task' %}">
                {% csrf_token %}
                <button type="button submit" class="list-group-item class_entry">
                    <span class="task_name">{{ task.name }}</span> <br>
                        {% if task.is_timed %}
                            timed
                            <br>
                        {% endif %}

                        {% if task.date_type == 'S' %}
                            scheduled for:
                        {% elif task.date_type == 'D' %}
                            due by:
                        {% endif %}
                    {{ task.date|date:"SHORT_DATE_FORMAT" }}.<br>
                </button>
            </form>

            {% endfor %}
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
{% block javascript %}
{% load static %}
{% endblock %}
