.navbar-nav {
    display: inline-block;
    float: none;
}

#content {

}

.task_name {
    font-weight: bold
}

.class_entry {

    background-color: white;
}

button {
    text-align: center !important
}
