<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Tracker</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "tasktracker/base.css" %}" />
    {% block addl_head %}
    {% endblock %}
</head>


<body>
    <div class="container">




     {% url 'tracktasks:index' as index %}
     {% url 'tracktasks:create task' as create_task %}
     {% url 'auth_logout' as logout %}
      {% url 'auth_login' as login %}
      {% url 'tracktasks:manage tasks' as manage_tasks %}
     <nav class="navbar navbar-inverse">
        {% if user.is_authenticated %}

        <p class="navbar-text">Hello, {{ user.get_username }}</p>

            {% if request.get_full_path != index %}
                <a href="{{ index }}" type="button" class="btn btn-default">Today's Tasks</a>
            {% endif %}
            {% if request.get_full_path != manage_tasks %}
                <a href="{{ manage_tasks }}" type="button" class="btn btn-default">Manage Tasks</a>
            {% endif %}

            {% if request.get_full_path != create_task %}
                <a href="{{ create_task }}" type="button" class="btn btn-default">Add Task</a>
            {% endif %}
            {% if request.get_full_path != logout %}
                <a href="{{ logout }}" type="button" class="btn btn-default">Log Out</a>
            {% endif %}
        {% else %}
            <a href="{{ login }}" type="button" class="btn btn-default">Log In</a>
        {% endif %}
    </nav>
<div id="content">
{% block content %}
{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}
</div>
</body>
</html>
